# Puerto del servidor
PORT=5000

# URI de conexión a MongoDB Atlas (Mantener privado en tu archivo .env local y en las variables de entorno de producción)
MONGODB_URI=mongodb+srv://<usuario>:<password>@cluster.mongodb.net/gula_logistics?retryWrites=true&w=majority
